#if installed on sub directory
<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

#else
#Apache (.htaccess or httpd.conf)
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . /index.php [L]
